name: epub_reader_kit
description: Reusable Flutter kit to download/open EPUB files through a native Android bridge.
version: 0.0.1
publish_to: none

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  file_picker: ^10.1.9
  path_provider: ^2.1.5

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.epub_reader_kit
        pluginClass: EpubReaderKitPlugin
